body {
  background-color: #04B431;
}


h1 {
  color: #FFBF00;
}

td {
  border: 1px solid black;
  width: 90px;
  height: 90px;
  padding-bottom: -5px;
}

tr {
  vertical-align: middle;
}


img {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

table {
  margin-left: auto;
  margin-right: auto;
}