doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My Title
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

      .container
        h1 TicTaco
        .login
        h1 Please Login or Register
        form(action="#")
          input(type="email", name="email", placeholder="user@example.com", required)
          input(type="password", name="password", placeholder="p@s$w0RD123", required)
          input(type="button", value="Register New Player")
          input(type="submit", value="Start New Game")
          .error
        table.hidden
            tr
              td
              td
              td
            tr
              td
              td
              td
            tr
              td
              td
              td

      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild

      // build:js js/main.min.js
      script(src="/scripts/index.js")
      // endbuild
