doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My Title
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      .message
      .container
        h1.title TicTaco

        button PLAY!
        form.hidden
          input(type="submit" value="Start New Game")
        table.hidden
            tr
              td.topL
              td.topM
              td.topR
            tr
              td.midL
              td.midM
              td.midR
            tr
              td.botL
              td.botM
              td.botR

      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild

      // build:js js/main.min.js
      script(src="/scripts/index.js")
      // endbuild
